# 🔒 Firebase Admin (TRÈS IMPORTANT)
functions/serviceAccountKey.json

# 🔒 fichiers sensibles éventuels
functions/.env

# Flutter / build
build/
.dart_tool/
.packages

# Logs
*.log

# OS
.DS_Store
Thumbs.db